.introducao-bg{
    box-shadow: inset 0px -120px var(--cor-branco);
    background-color: var(--cor-bg-preto);
    
}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
}

.introducao-conteudo{
    align-self: flex-end;
    padding-bottom: 250px;
}

.introducao h1{
    color: var(--cor-branco);
   
}


.introducao p{
    margin-bottom: 20px;
}

.introducao-img{
    grid-column: 2;
    display: block;
    grid-row: 1 / -1;
}

.introducao img{
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}

@media(max-width: 800px){
    .font-1-xxl{
        font-size: 2.5;
    }

    .introducao-bg{
        background-color: var(--cor-bg-pretoC);
    }

    .introducao{
        grid-template-columns:  1fr;
    }

    .introducao-conteudo{
        padding-bottom: 80px;
    }

    .introducao-img{
        grid-column: 1;
        grid-row: 2;
    }

    .introducao-img img{
        height: 280px;
        width: 100%;
        object-fit: cover;
    }

}