.botao{
    color: #000;
    padding: 16px 32px;
    background: linear-gradient(#ffbf00, #f2a50c);
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    color: #332200;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.botao a:hover{
    background: linear-gradient(#d9a300, #e09500);
}