

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.header-menu{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    list-style: none;
}

.header-menu a{
    padding: 16px 0px;
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-size: 1.1rem;
}

.header-menu li a:after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    margin: 0;
    margin-top: 4px;
    position: absolute;
}

.header-menu li a:hover:after{
    width: 100%;
    transition: 0.3s;
    
}

@media(max-width: 800px){
  
    .header-menu{
    gap: 12px;
  }  
    
    .header-menu li a{
        background-color: var(--cor-bg-pretoC);
        padding: 8px 12px;
    }

    .header-menu li a:hover{
        background-color: var(--cor-bg-pretoE);
    
    }

        .header-menu li a:after{
        display: none;
}
}

@media(max-width: 500px){
    .header{
        justify-content: center;
    }

    .header-menu{
        justify-content: center;
    }
}